<div class="col-sm-4">
    <!--    传送门-->
    <div class="card border-0 rounded-0 px-3 mb-2 mb-md-3">
        <div class="card-header bg-white px-0 sidebar-title-underline">
            <strong><i class="fa fa-paper-plane mr-2 f-17"></i>传送门</strong>
        </div>
        <div class="card-body px-0 pt-3">
            <div class="row text-center">
                <div class="col-sm-4 deliver-box">
                    <a href="https://github.com/albert-lii" target="_blank" title="站主的Github">
                        <img class="deliver-logo" alt="站主的github"
                             src="{{ url_for('static', filename='mysite/img/github.png') }}">
                    </a>
                </div>
                <div class="col-sm-4 deliver-box">
                    <a href="https://www.jianshu.com/u/fe3e28b3a55d" target="_blank" title="站主的简书">
                        <img class="deliver-logo" alt="站主的简书"
                             src="{{ url_for('static', filename='mysite/img/jianshu.png') }}">
                    </a>
                </div>
                <div class="col-sm-4 deliver-box">
                    <a href="https://blog.csdn.net/liyi1009365545" target="_blank" title="站主的CSDN">
                        <img class="deliver-logo" alt="站主的CSDN"
                             src="{{ url_for('static', filename='mysite/img/csdn.png') }}">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--    微信公众号-->
    <div class="card border-0 rounded-0 px-3 mb-2 mb-md-3">
        <div class="card-header bg-white px-0 sidebar-title-underline">
            <strong><i class="fa fa-weixin mr-2 f-17"></i>微信公众号</strong>
        </div>
        <div class="card-body px-0 pt-3">
            <div class="row text-center">
                <div class="col-sm-12 deliver-box">
                    <a href="" target="_blank" title="进入博主的Github查看博客源码">
                        <img class="deliver-logo" alt="站主的github"
                             src="{{ url_for('static', filename='mysite/img/qrcode-wechat-igank.jpg') }}">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--    赞助-->
    <div class="card border-0 rounded-0 px-3 mb-2 mb-md-3">
        <div class="card-header bg-white px-0 sidebar-title-underline">
            <strong><i class="fa fa-superpowers mr-2 f-17"></i>赞助本站</strong>
        </div>
        <div class="card-body px-0 pt-3">
            <div class="row text-center">
                <div class="col-sm-6 deliver-box" style="width: 100%; padding: 0px;">
                    <a title="支付宝赞助本站">
                        <img class="deliver-logo" alt="支付宝赞助本站"
                             src="{{ url_for('static', filename='mysite/img/alipay-code.png') }}">
                        <p class="mt-2" style="color: #555;">支付宝</p>
                    </a>
                </div>
                <div class="col-sm-6 deliver-box" style="width: 100%; padding: 0px;">
                    <a title="微信赞助本站">
                        <img class="deliver-logo" alt="微信赞助本站"
                             src="{{ url_for('static', filename='mysite/img/wxpay-code.png') }}">
                        <p class="mt-2" style="color: #555;">微信</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

