{% if banners %}
<div id="banner" class="carousel slide" style="margin-bottom: 0.71rem;" data-ride="carousel">
    <!-- 指示符 -->
    <ul class="carousel-indicators">
        {% for i in range(banners|length) %}
        {% if i == 0 %}
        <li data-target="#banner" data-slide-to="{{ i }}" class="active"></li>
        {% else %}
        <li data-target="#banner" data-slide-to="{{ i }}"></li>
        {% endif %}
        {% endfor %}
    </ul>
    <!-- 轮播图片 -->
    <div class="carousel-inner">
        {% if banners %}
        {% for i in range(banners|length) %}
        {% if i == 0 %}
        <div class="carousel-item active">
            <a target="_blank" href="{{ banners[i].link_url }}">
                <img class="banner-image" src="{{ banners[i].image_url }}">
            </a>
        </div>
        {% else %}
        <div class="carousel-item">
            <a target="_blank" href="{{ banners[i].link_url }}">
                <img class="banner-image" src="{{ banners[i].image_url }}">
            </a>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <!-- 左右切换按钮 -->
    <a class="carousel-control-prev" href="#banner" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#banner" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
{% endif %}