<!--如果有收到喜欢-->
{% if received_likes %}
<div>
    {% for like in received_likes %}
    <div class="common-item">
        <div class="action">你收到了来自<span class="username"> {{ like.from_user.username }} </span>的喜欢</div>
        <div class="article-title"><a target="_blank"
                                      href="{{ url_for('work.show_article', article_id=like.article_id) }}">《{{
            like.article.title }}》</a></div>
        <div class="other-info">
            <span class="muted"><i class="fa fa-clock-o"></i>{{ timestamp_to_str(like.create_time) }}</span>
        </div>
        {% if like.status == 1 %}
        <div class="unread"></div>
        {% endif %}
    </div>
    {% endfor %}
    <div class="page-pagination">{{ render_pagination(pagination) }}</div>
</div>
{% else %}
<!--如果沒有内容-->
<div class="tip">
    <h5>你的文章还没有收到他人的喜欢哦，继续加油吧！(ง •̀_•́)ง</h5>
</div>
{% endif %}